<!DOCTYPE html>
<html lang="en" ng-app="LohaLive">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="fragment" content="!">
    <meta name="description" content="India’s Most Organized Iron and Steel Trading Platform">
    <meta property="og:image" content="https://cdn.lohalive.com/lohalive/site-images/logo-llj-wht-ver-215x60.jpg?v=2.0.0.1" />
    <meta property="og:title" content="Please logon to www.lohalive.com" />
    <meta property="og:description" content="India’s Most Organized Iron and Steel Trading Platform" />
    <meta charset="UTF-8">
    

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        body {
            font-family: 'Titillium Web', sans-serif !important;
            font-weight: 400 !important;
            background: #fafafa !important;
            font-size: 12px !important;
            -webkit-text-size-adjust: none !important;
            -webkit-font-smoothing: subpixel-antialiased !important;
        }

        .ng-cloak {
            display: none;
        }
    </style>
    <title ng-bind="PageTitle">LohaLive</title>
    
    <link href="Content/css/bootstrap.css?v=51" rel="stylesheet" />
    <link href="Content/css/style.css?v=122" rel="stylesheet" />
    <link href="Content/css/mobile-menu.css?v=41" rel="stylesheet" />
    <link href="Content/css/owl.carousel.min.css?v=41" rel="stylesheet" />
    <link href="Content/css/jquery.mCustomScrollbar.css?v=41" rel="stylesheet" />
    <link href="Content/css/responsive.css?v=41" rel="stylesheet" />
    <link href="Content/css/responsive2.css?v=81" rel="stylesheet" />
    <link href="Content/newfontawsome/css/all.css?v=41" rel="stylesheet" />
    <link href="Content/css/font-awesome.min.css?v=41" rel="stylesheet" />
    <!--<meta name="msapplication-TileImage" content="" />-->
    <meta name="application-name" content="Lohalive Junction Pvt. Ltd." />
    <meta name="msapplication-TileColor" content="#ED7924" />
    <meta name="keywords" content="angle, channel, beam, plates, sheets, hr, cr, tmt bar, sail, essar, jspl, lohalive, marketwatch" />
    <meta name="description" content="India’s Most Organized Iron and Steel Trading Platform" />
    <meta name="robots" content="index,follow" />
    <meta name="google-site-verification" content="g75Xm4le6_ZSMxfOa3br-0VcWdvNDZanIsVMVVZ3Xao" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--<script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-52180723-1', 'auto');
        ga('send', 'pageview');
        $(document).ready(function () {
            window.onhashchange = function () {
                $("#pagechange").click();
            }
        });
    </script>-->
</head>
<body ng-cloak onclick="hideautocomplete()" window-size my-directive ng-controller="HomeControllers" ng-init="HomeInit()" id="top1">
    <!--<div id="fb-root"></div>-->
    <!--<script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1419182688115775', status: true, cookie: true,
                xfbml: true
            });
        };
        (function () {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol +
                '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    </script>-->
    <div id="wrapper">
        <div class="main-content" id="main-content">
            <!--Responsive Header-->
            <nav id="desktopNav" role="navigation" class="navbar navbar-lohalive navbar-default navbar-default-custom">
                <!-- brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <input type="button" id="pagechange" style="display:none;" ng-click="PageChange()" />
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul>
                        <li ng-controller="AccountController" id="lilogin" class="pos-rel login-menu" ng-hide="CheckUser()" style="padding: 8px 5px;float: right;margin-top: 7px;border:none;margin-right:-10px;">
                            <a id="login" data-target="#" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" ng-click="redirectToLogin()">
                            </a>
                            <div class="dropdown-menu" role="menu" aria-labelledby="login">
                                <form name="LoginForm" novalidate>
                                    <div id="login_container" ng-show="showLogin">
                                        <div style="margin-bottom:5px;color:#f03e27;" ng-show="showstatus">{{status}}</div>
                                        <div class="logincls" id="lgemail">
                                            <input placeholder="Mobile / Email" type="text" name="username" ng-model="username" required ng-blur="validateField(LoginForm.username,'lgemail')" ng-focus="removeVerified('lgemail')" />
                                            <i class="icn-verified"></i>
                                        </div>
                                        <div class="logincls" id="lgpassword">
                                            <input placeholder="Password" type="password" name="Password" ng-model="Password" required ng-blur="validateField(LoginForm.Password,'lgpassword')" ng-focus="removeVerified('lgpassword')" />
                                            <i class="icn-verified"></i>
                                        </div>
                                        <div class="chk-box custom-chk">
                                            <label class="">
                                                <input type="checkbox" name="terms">
                                                Keep me signed in
                                            </label>
                                        </div>
                                        <div class="submit-btn">
                                            <input type="submit" value="SUBMIT" ng-click='Login(LoginForm,"HP")' busy="Submitting..">
                                        </div>
                                        <a href="" class="frt-pass" ng-click="redirectToForgotPass()">Forgot Password?</a>
                                        <p class="new-user">New user ? <a href="#!/new-sign-up">Sign Up </a></p>
                                    </div>
                                </form>
                                <div id="login_container" class="forget-pass" ng-show="showForgetPass">
                                    <form role="form" name="UserResetForm" novalidate>
                                        <h3>Forgot Password</h3>
                                        <div class="alert alert-danger" ng-show="showstatus">{{status}}</div>
                                        <p>Enter your Mobile No./Email Address here to receive a code to change password.</p>
                                        <div class="fpcls" id="fpemail">
                                            <input placeholder="Mobile / Email " type="text" name="username" ng-model="username" required ng-blur="validateField(UserResetForm.username,'fpemail')" ng-focus="removeVerified('fpemail')" />
                                            <i class="icn-verified"></i>
                                        </div>
                                        <div class="button-grp margin-top-10">
                                            <div class="submit-btn back-btn">
                                                <input type="button" value="BACk" ng-click="redirectToLogin()">
                                            </div>
                                            <div class="submit-btn">
                                                <input type="submit" value="SUBMIT" ng-click='ResetPassword(UserResetForm)'>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li class="welcome-user" ng-show="CheckUser()" ng-controller="AccountController" style="float: right;margin-top: 7px;border:none;margin-right:0px;">
                            <a data-target="#" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                <span>{{SetUserName()}}</span>
                            </a>
                            <div class="dropdown-menu cmn-dropdown" role="menu" aria-labelledby="usermenu" style="z-index: 2000;">
                                <div id="usermenu" class="usermenu">
                                    <ul>
                                        <li><a href="#!/MyAccount/MessageCenter/IB" class="no-menu">My Orders <span style="color:#E97925;font-weight:bold;" ng-if="BuyerMarketCount + SellerMarketCount > 0">({{BuyerMarketCount + SellerMarketCount}})</span> </a></li>
                                        <li><a href="#!/CompanyDetails/CompanyProfile/Edit" class="no-menu">My Profile</a></li>
                                        <li><a href="#!/Enquiry/SellInquiry" class="no-menu"><b style="color:#e97925;">Selling Window</b></a></li>
                                        <li><a href="#!/BrokerageBill" class="no-menu">Transaction Fees Bills</a></li>
                                        <li><a href="#!/Account/ChangePassword" class="icn-reset">Change Password</a></li>
                                        <li><a ng-click="LogOut()" style="cursor:pointer" class="icn-logout">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="link-style-1 notifications-padd" title="Notification" style="float:right;border:none;margin: 8px 0px;">
                            <a class="notifications hovereffect" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" ng-click="SeeNotification()">
                                <strong ng-if="NotifTotalCount > 0">
                                    <span id="spnNotification" class="num">{{NotifTotalCount}}</span>
                                </strong>
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown-menu margin-top-10" role="menu" aria-labelledby="dLabel" style="padding:15px" ng-click="SeeNotification()">
                        <p>
                            <strong>Notifications</strong>
                            <a href="javascript:void(0);" style="background:none; border:none; margin:5px">
                                <img src="Scripts/c3.png">
                            </a>
                        </p>
                        <hr>

                        <p ng-if="SellerMarketCount > 0">
                            <a href="#!/MyAccount/MessageCenter/IB">Sell Order Count : {{SellerMarketCount}}</a>
                        </p>
                        <p ng-if="BuyerMarketCount > 0">
                            <a href="#!/MyAccount/MessageCenter/IB">Buy Order Count : {{BuyerMarketCount}}</a>
                        </p>
                        <p ng-if="MarketStatus > 0">
                            <a href="#!/BrokerageBill">Transaction Fees Bills Count : {{MarketStatus}}</a>
                        </p>
                        <p ng-if="MembershipExpiredday > 0">
                            <a href="#!/apply-for-gold-certified-membership">{{MembershipExpiredMessage}}</a>
                        </p>
                        <p ng-if="attachmentIncomplete > 0">
                            <a>{{attachmentIncompletemessage}}</a>
                        </p>
                    </div>
                    <a class="brand resp-brand-logo" href="#!/Home" style="line-height: 65px;"><img alt="logo" src="Scripts/logo.png"></a>
                </div>
            </nav>


            <div ng-include="headerurl"></div>
            <div style="min-height:512px" class="header-display">
                <div ng-view class="w3-animate-fading">
                </div>
            </div>
        </div>


    </div>
    <div ng-include="footerurl" id="footer"></div>
    <!--<a class="page-scroll hovereffect go-top-trade" ng-click="GotoTradeService('top1')"><img src="https://cdn.lohalive.com/lohalive/site-images/go-top.png?v=2.0.0.3"></a>-->

    <script src="Directives/llj-3p.js"></script>
    <script src="Scripts/jquery-ui.js"></script>
    <script src="Scripts/hotkeys.min.js"></script>
    <script src="Script/js/global.js?v=1"></script>
    <script src="Script/js/app.js?v=3.1.0.76.1"></script>
    <script src="Services/lohaLiveServices.js"></script>
    <!--<script src="Controller/lohaLiveServices.js?v=3.1.0.32.1"></script>-->
    <!--<script src="Services/b2cService.js?v=3.1.0.19.1"></script>-->
    <!--<script src="Services/marketWatchService.js?v=3.1.0.48.1"></script>-->
    <script src="Services/NewmarketWatchService.js?v=9.2"></script>
    <script src="Services/NewmarketWatchHistoryService.js?v=9.2"></script>
    <script src="Services/makeBrandService.js?v=3.1.0.69.1"></script>
    <script src="Services/messageCenterService.js?v=3.1.0.29.1"></script>
    <script src="Services/NewmessageCenterService.js?v=3.1.0.29.1"></script>
    <script src="Services/productService.js?v=3.1.0.19.1"></script>
    <script src="Services/userService.js?v=3.1.0.19.1"></script>
    <!--<script src="Services/sellingProfileService.js?v=3.1.0.39.1"></script>-->
    <script src="Services/NewsellingProfileService.js?v=3.1.0.43.1"></script>
    <script src="Services/NewBuyingProfileService.js?v=4.1"></script>
    <script src="Controller/AccountController.js?version=3.1.0.33.1"></script>
    <!--<script src="Controller/HomeControllers.js?version=3.1.0.91.1"></script>-->
    <script src="Controller/HomeControllers.js?version=3.1.0.91.2"></script>
    <script src="Controller/DirectoryControllers.js?version=3.1.0.19.1"></script>
    <script src="Controller/CompanyControllers.js?version=3.1.0.24.1"></script>
    <script src="Controller/CompanyDetailsControllers.js?version=3.1.0.16.2"></script>
    <script src="Controller/SitemapController.js?version=3.1.0.16.1"></script>
    <script src="Controller/NewsAndEventsController.js?version=3.1.0.17.1"></script>
    <script src="Controller/Autocomplete.js?version=3.1.0.16.1"></script>
    <script src="Controller/MyAccountController.js?version=3.1.0.54.1"></script>
    <script src="Controller/NewMyAccountController.js?version=3.1.0.54.1"></script>
    <!--<script src="Controller/MembershipController.js?version=3.1.0.39.1"></script>-->
    <!--<script src="Controller/EnquiryController.js?version=3.1.0.16.1"></script>-->
    <!--<script src="Controller/EnquiryDetailController.js?version=3.1.0.16.1"></script>-->
    <!--<script src="Controller/BuyerWindowController.js?version=3.1.0.16.1"></script>-->
    <!--<script src="Controller/FAQController.js?version=3.1.0.16.1"></script>-->
    <!--<script src="Controller/FeedbackController.js?version=3.1.0.16.1"></script>-->
    <!--<script src="Controller/AdvertiseController.js?version=3.1.0.16.1"></script>-->
    <!--<script src="Controller/SellerWindowController.js?version=3.1.0.16.1"></script>-->
    <!--<script src="Controller/QuickQuoteController.js?version=3.1.0.16.1"></script>-->
    <!--<script src="Controller/QuickQuote2Controller.js?version=3.1.0.16.1"></script>-->
    <!--<script src="Controller/SellingProfileController.js?version=3.1.0.55.1"></script>-->
    <script src="Controller/NewSellingProfileController.js?version=3.1.0.57.2"></script>
    <script src="Controller/NewBuyingProfileController.js?version=3.1.0.57.2"></script>
    <!--<script src="Controller/OnlinePmtController.js?v=3.1.0.1.1"></script>-->
    <!--<script src="Controller/QuickQuote3Controller.js?v=3.1.0.16.1"></script>-->
    <!--<script src="Controller/b2cController.js?v=3.1.0.16.1"></script>-->
    <!--<script src="Controller/MarketWatchProfileController.js?version=3.1.0.120.1"></script>-->
    <!--<script src="Controller/MarketWatchController.js?version=3.1.0.203.1"></script>-->
    <script src="Controller/NewMarketWatchController.js?v=3.25.14"></script>
    <script src="Controller/NewMarketWatchHistoryController.js?v=3.18.2"></script>
    <script src="Controller/BrandProductController.js?v=3.1.0.16.1"></script>
    <!--<script src="Controller/SearchByProductController.js?v=3.1.0.16.1"></script>-->
    <script src="Controller/MakeProductDetailController.js?v=3.1.0.16.1"></script>
    <!--<script src="Controller/InquiryCenterController.js?v=3.1.0.19.1"></script>-->
    <!--<script src="Controller/LiveRatesController.js?v=3.1.0.16.1"></script>-->
    <!--<script src="Controller/customeDirectives.js?v=3.1.0.32.1"></script>-->
    <script src="Directives/customeDirectives.js?v=160823"></script>
    <script src="Scripts/select.js"></script>
    <!--<script src="Controller/select.js"></script>-->
    <!--<script src="https://cdn.lohalive.com/scripts/select.js?v=3.1.0.16.1"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js?v=2"></script>-->
    <!--<script src="Scripts/angular.min.js"></script>
    <script src="Scripts/zingchart-angularjs.js"></script>
    <script src="Scripts/zingchart.min.js"></script>
    <script src="Scripts/ui-bootstrap-tpls-0.3.0.min.js"></script>-->
    <!--<script src="Script/js/datepickerjs.js?v=1.1"></script>
    <script src="Script/moment.min.js?v=1.1"></script>-->

    <script>
        $(window).scroll(function () {

            if ($(this).scrollTop() > 1) {
                $('#marketwatch-header-top').addClass("sticky");
            }
            else {
                $('#marketwatch-header-top').removeClass("sticky");
            }
        });
        (function ($) {
            'use strict';
            // Toggle classes in body for syncing sliding animation with other elements
            $('#bs-example-navbar-collapse-2')
                .on('show.bs.collapse', function (e) {
                    $('body').addClass('menu-slider');
                })
                .on('shown.bs.collapse', function (e) {
                    $('body').addClass('in');
                })
                .on('hide.bs.collapse', function (e) {
                    $('body').removeClass('menu-slider');
                })
                .on('hidden.bs.collapse', function (e) {
                    $('body').removeClass('in');
                });
            $(document).scroll(function () {
                var y = $(this).scrollTop();
                if (y > 200) {
                    //$('.go-top-trade').fadeIn();
                } else {
                    //$('.go-top-trade').fadeOut();
                }
            });
        })(jQuery);
        function Hidemenu() {
            document.getElementById("btn1").click();

        }
    </script>

</body>
</html>
